# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / env files
*.log
.env
.env.local

# Build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage

# Large datasets - ignore UBFC dataset
ubfc_2/
ubfc_2/*
screenshots/
screenshots/*

phase_results.txt